/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0000ff;
}
html {
  background-color: #36454F
}

code {
  color: #ffffff;
}

.btn-primary {

  color: #fff;
  background-color: #0000ff;
  border-color: #1861ac;
}

#img-logo {
  max-width: 100%;
  height: auto;
  
}

#div-title {
  background-color: #36454F;

  background-repeat: no-repeat;
  font-family: "Andalé Mono", Times, monospace;
  background-position: center;
  height: 560px;
  width: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  text-align: center
}
